*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
  line-height: 1.6;
}
.featured {
    display: flex;
     height: 600px;
     justify-content: space-between;
     align-items: center;
     gap: 2rem;
     margin: 0 auto;
}
 .featured-image{
    flex-basis: 50%;
   height: 100%;
  background-color: #e0e0e0;
  border-radius: 8px;
 }
 .featured-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 .featured_content{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    height: 100px;
   
 }
 .featured_more{
    color: #fff;
    background: #1d1d1d;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
 }
 .featured_footer{
   display: flex;
   gap: 1rem;
   align-items: center;
   margin-top: 2rem;
 }
 .featured_more:hover{
   cursor: pointer;
   background: #414141;
   color: #d9d8d8;
 }
 .featured_content p{
   color: #4d4d4d;
   margin-top: 2rem;
 }
 
 .news_container{
  padding: 6rem 0;
  width: 100%;
  background: #f5f5f5;
 }
 .news_heading{
  margin-bottom: 1.5rem;
 }
  .news_para{
    margin-bottom: 2rem;
    color: #6666;
  }
  .head{
    background-color: #000;
   color: #f5f5f5;
   padding: 1.5rem 0;
  }
  .head-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
     max-width: 1500px;
  padding: 0 4rem;
  margin: 0 auto;
}
  .head-logo {
  font-size: 1.5rem;
  font-weight: bold;
}
  .head-links a {
    text-decoration: none;
    color: #f5f5f5;
  }
  .head-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}
.head-links a:hover {
  color: #9c9c9c;
}
  /*
  .news_images{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
  }
  */
  .news_images{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 2rem;
    margin: 0 auto;
  }
  .card{
   /*
    min-width: 300px;
    width: 100%px;
    */
    height: 500px;
   border-radius: 8px;
    box-shadow: none;
    background: #ffff;
    overflow: hidden;
  }
   .card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  .card_content{
    padding: 1.5rem;
  }
  .card_content h3{
    margin-bottom: 1.5rem ;
  }
  .card_content p{
    margin-bottom: 1.5rem;
    color: #6666;
  }
  .news-more{
    text-decoration: none;
    font-weight: bold;
    padding-right: 1.5rem;
  }
  .news_content{
    padding: 2rem;
  }
  .hot{
    background:#1d1d1d;
    color: #fff
  }
  .hot_title{
    margin-bottom: 1.5rem;
  }
  .container{
    padding: 1.5rem;
  }
  .hot_subtitle{
    margin-bottom: 2rem;
    color: #666;
  }
  
  .hot-card{
    background-color: #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
  }
  .hot-card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
 .hot_grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,1fr);
  height: 600px;
  gap: 1rem;
 }
 .hot_grid1{
  grid-column: span 2;
  grid-row: span 2;
 }
 .hot_grid2{
  grid-column: span 1;
  grid-row: span 1;
 }
 .hot_grid3{
  grid-column: span 1;
  grid-row: span 1;
 }
 .hot_grid4{
  grid-column: span 2;
  grid-row: span 1 ;
 }
 .station{
   padding: 4rem 1rem;
  background: #fff;
 }
 .stationary_subtitle{
     margin-bottom: 2rem;
  color: #666;
}
 .police_grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 200px);
  gap: 1rem;
   max-width: none;
   margin: 0 , auto;
 }
 .police-item{
   background-color: #e0e0e0;
  border-radius: 8px;
 }
 .police-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
 }
.grid1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
.grid2 {
  grid-column: 2 / 4;
  grid-row: 1/ 3;
}
.grid3 {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}
.grid4 {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
}
.grid5 {
  grid-column: 4 / 6;
  grid-row: 2 / 3;
}
.grid6 {
  grid-column: 1 / span 4;
  grid-row: span 1;
}
.grid7 {
  grid-column: span 1;
  grid-row: span 1;
}
.gallery{
  padding: 4rem 1 rem;
}
.gallery_title{
  margin-bottom: 1rem;
}
.gallery_subtitle{
  margin-bottom: 2rem;
  color: #666;
}
.gallery-item{
  background-color: #e0e0e0;
  border-radius: 8px;
  font-size: 24px;
  color: #666;
}
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.gallery_grid{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(5,150px);
  gap: 1rem;
  max-width: none;
  margin: 0 auto;
   grid-template-areas:
   "a b  b c d"
   "e e f c g"
    "e e f c g"
    "e e h h m"
    "i k h h m"
    "j k l n n"
}
.a {
  grid-area: a;
}
.b {
  grid-area: b;
}
.c {
  grid-area: c;
}
.d {
  grid-area: d;
}
.e {
  grid-area: e;
}
.f {
  grid-area: f;
}
.g {
  grid-area: g;
}
.h {
  grid-area: h;
}
.i {
  grid-area: i;
}
.j {
  grid-area: j;
}
.k {
  grid-area: k;
}
.l {
  grid-area: l;
}
.m {
  grid-area: m;
}
.n {
  grid-area: n;
}
footer{
  background-color: #000;
  color: #e0e0e0;
}
 footer p{
  max-width: 1500px;
  padding: 2rem 4rem;
  text-align: center;
}
/* absolute position relative*/
.hot-card{
  position: relative;
}
.hot-overlay{
  position: absolute;
  padding: 1rem;
 background: rgba(0, 0, 0, 0.7);
 bottom: 0;
  left: 0;
  right: 0;
  font-weight: bold;
}
.police-item{
  position: relative;
}
.police-item::before{
   content: "";
   position: absolute;
    top: 0;
    left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.police-item::after{
   content: "View Story";
 position: absolute;
 top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.police-item:hover::before,
.police-item:hover::after {
  opacity: 1;
}
/* Responsive Media Queries */
@media screen and (max-width: 768px) {
  .head-links {
    display: none;
}
 
.featured {
    flex-direction: column;
    height: auto;
    gap: 2rem;
  }
  .police_grid{
    display: block;
  }
  .police-item{
     margin-bottom: 1rem;
    height: 300px;
  }
  .gallery_grid{
     display: block;
  }
  .gallery-item{
    margin-bottom: 1rem;
    height: 300px;
  }
  .container{
    padding: 2rem 1rem;
  }
.ring img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
